* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
  background-color: #cfdede;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  margin-right: 3vw;
  color: black;
  font-family: YuMincho;
  font-size: 20px;
  width: 20%;
}

.search-form {
  width: 55vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: black;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: black;
  font-family: YuMincho;
}

.brand-list {
  text-decoration: none;
  color: black;
  font-family: YuMincho;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
  color: black;
  font-family: YuMincho;
}


.logout {
  text-decoration: none;
  color: black;
  font-family: YuMincho;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: black;
  font-family: YuMincho;
}

.sign-up {
  text-decoration: none;
  color: black;
  font-family: YuMincho;
}