* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
  background-color: #cfdede;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  border-radius: 10px;
}

.nav {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
  color: black;
  font-size: 25px;
  font-family: YuMincho;
  background-color: white;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 7px gray;
}

.user-nickname:hover {
  background-color: white;
  opacity: 1;
}

.user-nickname:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.logout {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: YuMincho;
  background-color: white;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 7px gray;
}

.logout:hover {
  background-color: white;
  opacity: 1;
}

.logout:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: black;
  font-size: 25px;
  font-family: YuMincho;
  background-color: white;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 7px gray;
}

.login:hover {
  background-color: white;
  opacity: 1;
}

.login:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.sign-up {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: YuMincho;
  background-color: white;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 7px gray;
}

.sign-up:hover {
  background-color: white;
  opacity: 1;
}

.sign-up:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}