<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>CAFE LOG利用規約</p>
  </div>
  <p class='copyright'>© CAFE LOG</p>
</footer>