a {
  text-decoration: none;
}

.main {
  background: white;
}

/* 画面上部 */
.title-contents {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  text-align: center;
  margin: 30px 0;
}

.main-pict {
  margin-bottom: 20px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
}

/* //画面上部 */

/* CAFE LOGの使い方 */
.feature-contents {
  width: 100vw;
  padding: 10vh 15vw;
  background-color: white;
}

.feature-contents>.title {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
  color: black;
  font-family: YuMincho;
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-pict {
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  color: black;
  font-family: YuMincho;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
  color: black;
  font-family: YuMincho;
}

/* //CAFE LOGの使い方 */

/* コーヒー情報、コーヒーメモ一覧 */

.item-contents {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color: black;
  font-family: YuMincho;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #cfdede;
  margin: 0 30px;
  border-radius: 10px;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
  border-radius: 10px;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  font-family: YuMincho;
  border-radius: 10px;
  margin-top: 10px;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //コーヒー情報、コーヒーメモ一覧 */