/* 商品の概要 */

.item-show {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

/* 編集・削除ボタン */
.item-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-edit-btn {
  text-align: center;
  background-color: #cddfde;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 20px 20px;
  padding: 1vh 5vw;
  border-radius: 10px;
  font-family: YuMincho;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 20px 20px;
  padding: 1vh 5vw;
  border-radius: 10px;
  font-family: YuMincho;
}
/* /編集・削除ボタン */

.item-box {
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: YuMincho;
}

.item-box>.date {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: YuMincho;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 20px;
}

.item-explain-box {
  font-size: 20px;
  margin: 30px 0px;
  overflow-wrap: anywhere;
  font-family: YuMincho;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 60px 0 0 0;
}

.favorite-btn {
  background-color: #cddede;
  border-radius: 10px;
  width: 15vw;
  min-width: 200px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-family: YuMincho;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 10px;
  width: 15vw;
  min-width: 200px;
  padding: 1vh 0;
  color: black;
  border: 1px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: YuMincho;
}

.report-flag-icon {
  margin-right: 5px;
}
/* /メモの概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 30px 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
  border-radius: 10px;
  font-family: YuMincho;
}


.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: center;
  font-family: YuMincho;
}

.comment-btn {
  line-height: 48px;
  background-color: #cddfde;
  border: 1px solid #cedfde;
  color: black;
  width: 50%;
  min-width: 150px;
  font-size: 20px;
  font-family: YuMincho;
  border-radius: 10px;
  margin-bottom: 2vh;
  margin-top: 20px;
}

.comments {
  margin: 10px 0 60px 0;
}

.comments-items {
  margin: 30px 0;
  text-align: left;
  font-size: 20px;
  font-family: YuMincho;
  display: flex;
}

.comments-item-right {
  margin: 0 40px;
}

.delete-btn {
  background-color: #cddfde;
  border: 1px solid #cddfde;
  border-radius: 10px;
  color: black;
  width: 120px;
  padding: 10px;
  margin: 40px;
  text-decoration: none;
  font-family: YuMincho;
  font-size: 15px;
}

.comments h4 {
  font-size: 20px;
  font-family: YuMincho;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.change-item-btn {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: YuMincho;
}

.back {
  margin: 30px 0;
}

.back-btn {
  background-color: #aaa;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: black;
  width: 120px;
  padding: 15px 30px;
  text-decoration: none;
  font-family: YuMincho;
  font-size: 20px;
}


