.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color: black;
  font-family: YuMincho;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #cfdede;
  margin: 30px 30px;
  border-radius: 10px;
  list-style: none;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
  border-radius: 10px;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  font-family: YuMincho;
  border-radius: 10px;
  margin-top: 10px;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.user-name {
  font-family: YuMincho;
  font-size: 25px;
}